/* Header.css */
.header {
    background-color: #333;
    color: white;
    position: fixed; /* Stick the header to the top of the screen */
    top: 15px;
    left: 15px;
    right: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    padding: 10px 20px;
    z-index: 100; /* Ensure the header is above other elements */
  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-left: 20px;
    transition: transform 0.2s; /* Add a smooth transition effect */
  }
  
  .navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  .navigation li:hover {
    transform: scale(1.1); /* Add a hover animation */
  }
  