
.header {
  background-color: #333;
  color: white;
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-logo {
  width: 55px;
  height: 55px;
  margin-left: 15px;
}


.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px;
  transition: transform 0.2s;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.navigation li:hover {
  transform: scale(1.1);
}

