/* Base styles for movie list */
.movie-list {
  padding: 10px;
  margin-top: 15px;
}

/* Grid layout for movies */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid with a minimum column width of 250px */
  grid-gap: 20px;
}

/* Individual movie item styles */
.movie-item {
  background-color: rgb(231, 231, 231);
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  
}

.movie-item img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.movie-details {
  text-align: left;
}

/* Media Query for Tablets (up to 768px) */
@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
  }
}

/* Media Query for Phones (up to 480px) */
@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: 1fr; /* Single column for phones */
  }
}
