p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
}

.movie-list {
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  position: relative;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.movie-item {
  width: 300px; 
  height: 300px; 
  background-color: rgb(231, 231, 231);
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative; 
}

.movie-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movie-image img {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}

.movie-details,
.movie-description {
  text-align: left;
  flex-grow: 1;
}

.movie-description {
  margin-top: 10px;
  position: relative;
}

.details-button-container {
  position: absolute;
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.details-button {
  display: block;
  width: 80px;
  margin: 0 auto;
}
