
.slider-container {
    position: relative;
    top: 30px;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .slider-image {
    width: 900px;
    height: 200px;
    transition: transform 0.5s ease; 
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease; 
  }
  
  .slider-button:hover {
    background-color: rgba(0, 0, 0, 0.6); 
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  /* Responsive adjustments */
@media (max-width: 768px) {
  .slider-container {
    top: 10px;
  }
  
  .slider-image {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .slider-container {
    top: 5px;
  }

  .slider-button {
    font-size: 18px;
  }
}
  